*{
    margin: 0;
    padding: 0;
}

html,
body{
    overflow: hidden;
}

.webGL{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
}

#errorUpload{
    color: red;
    font-size: 2rem;
}

#containerErrorUpload{
    width: 100%;
    bottom: 0;
    text-align: center;
    position: absolute;
}

#loading-bar{
    position: absolute;
    left: 25%;
    top: 50%;
    width: 50%;
    height:  2px;
    background: white;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 1s;
    will-change: transform;
}

#loading-bar.ended{
    transform-origin: top right;
    transition: transform 0.5s ease-in-out;
}